**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: Operaciones de Aprendizaje Automático**

Tecnológico de Monterrey

**Fase 1 – Procesamiento y Modelado Inicial**
En esta primera etapa aprenderás a trabajar con los datos y a construir tus primeros modelos:

* Realizar un análisis del problema y generar una propuesta de valor.
* Manipular y preparar datos.
* Explorar y preprocesar información.
* Aplicar técnicas de versionado para asegurar reproducibilidad y trazabilidad.
* Construir, ajustar y evaluar modelos de Machine Learning.

---

**EQUIPO 10**

**ALUMNOS:**

Gabriela Lizeth Moreno Hernández - A01796677

Alejandro Chávez Campos  -  AXXXXX

Carlos Armando Alcántar Sánchez - A01311747

Luis Fernando Caporal Montes de Oca  -  AXXXXX

Yamil Abraham Nechar Reyes - A01795726

In [256]:
# --- Librerías ---
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score, confusion_matrix
from sklearn.impute import SimpleImputer
# Configuración de gráficos
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (8, 5)

In [257]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [258]:
import os
DIR = "/content/drive/MyDrive/Colab Notebooks/MLOPs/Semana3/dataset/"
os.chdir(DIR)

**1. Carga de Datos**

In [259]:
# Explicación:
# Se carga el dataset original para explorar la estructura y distribución de atributos.
# Esto permite identificar tipos de variables, su rango de valores y posibles problemas como desbalance o valores faltantes.
data_path = "insurance_company_modified.csv"

# Cargar solo una fila para contar cuántas columnas hay
with open(data_path, "r") as f:
    first_line = f.readline()
num_cols = len(first_line.strip().split(","))

# Crear nombres dinámicos
column_names = [f"A{i}" for i in range(1, num_cols + 1)]

df = pd.read_csv(data_path, sep=",", header=None, names=column_names)

# Remove the first row
df = df.iloc[1:].copy()

print("Dimensiones del dataset:", df.shape)
print(df)

Dimensiones del dataset: (5937, 87)
          A1     A2     A3   A4      A5     A6   A7     A8   A9    A10  ...  \
1      37.0     1.0    2.0  2.0     8.0    1.0  4.0      ?  4.0   6.0   ...
2       37.0    1.0    2.0  2.0     8.0    0.0  4.0    2.0  4.0    3.0  ...
3        9.0    1.0    3.0  3.0     3.0    2.0  3.0   2.0   4.0    5.0  ...
4       40.0    1.0    4.0  2.0    10.0    1.0  4.0    1.0  4.0    7.0  ...
5      23.0     1.0    2.0  1.0     5.0    0.0  5.0    0.0  5.0    0.0  ...
...      ...    ...    ...  ...     ...    ...  ...    ...  ...    ...  ...
5933     NaN    1.0    2.0  2.0     5.0    0.0  4.0    2.0  4.0    0.0  ...
5934    41.0  449.0   3.0   3.0   10.0     0.0  4.0    1.0  4.0    7.0  ...
5935     2.0   1.0     2.0  3.0     1.0    1.0  5.0    1.0  3.0    5.0  ...
5936     8.0    1.0    2.0  4.0     2.0   0.0   4.0    0.0  5.0    7.0  ...
5937    24.0    1.0    4.0  2.0     5.0   0.0   5.0    1.0  4.0  260.0  ...

        A78    A79    A80      A81      A82  A83    A84  A85  A86      A87
1       0.0    0.0    1.0  invalid      0.0  0.0    0.0  0.0  0.0      108
2       0.0    0.0    1.0      0.0      0.0  0.0   0.0   0.0  0.0  unknown
3       0.0   0.0     1.0      0.0      0.0  0.0    0.0  0.0  0.0      904
4       0.0    0.0   1.0       0.0      0.0  0.0    0.0  0.0  0.0      bad
5       0.0    0.0    0.0      0.0      0.0  0.0    0.0  0.0  0.0      271
...     ...    ...    ...      ...      ...  ...    ...  ...  ...      ...
5933   0.0     0.0    1.0      0.0      0.0  0.0    0.0  0.0  0.0      687
5934    0.0    0.0    1.0      0.0      0.0  0.0    0.0  0.0  0.0      NaN
5935    0.0    0.0    1.0      0.0      0.0  0.0    0.0  0.0  0.0      NaN
5936    0.0    0.0    1.0      0.0      0.0  0.0    0.0  0.0  1.0      573
5937    0.0    0.0    1.0      0.0  invalid  0.0    0.0  0.0  0.0      527

[5937 rows x 87 columns]

1.1 Información General del Dataset

In [260]:
print("Información general del dataset:")
print(df.info())

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5937 entries, 1 to 5937
Data columns (total 87 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      5869 non-null   object
 1   A2      5864 non-null   object
 2   A3      5873 non-null   object
 3   A4      5868 non-null   object
 4   A5      5877 non-null   object
 5   A6      5863 non-null   object
 6   A7      5858 non-null   object
 7   A8      5874 non-null   object
 8   A9      5875 non-null   object
 9   A10     5876 non-null   object
 10  A11     5871 non-null   object
 11  A12     5871 non-null   object
 12  A13     5871 non-null   object
 13  A14     5852 non-null   object
 14  A15     5877 non-null   object
 15  A16     5866 non-null   object
 16  A17     5874 non-null   object
 17  A18     5874 non-null   object
 18  A19     5855 non-null   object
 19  A20     5870 non-null   object
 20  A21     5859 non-null   object
 21  A22     5852 non-null   object
 22  A23     5885 non-null   object
 23  A24     5864 non-null   object
 24  A25     5860 non-null   object
 25  A26     5863 non-null   object
 26  A27     5877 non-null   object
 27  A28     5858 non-null   object
 28  A29     5864 non-null   object
 29  A30     5868 non-null   object
 30  A31     5879 non-null   object
 31  A32     5888 non-null   object
 32  A33     5892 non-null   object
 33  A34     5874 non-null   object
 34  A35     5872 non-null   object
 35  A36     5864 non-null   object
 36  A37     5875 non-null   object
 37  A38     5859 non-null   object
 38  A39     5864 non-null   object
 39  A40     5879 non-null   object
 40  A41     5852 non-null   object
 41  A42     5874 non-null   object
 42  A43     5879 non-null   object
 43  A44     5856 non-null   object
 44  A45     5864 non-null   object
 45  A46     5867 non-null   object
 46  A47     5872 non-null   object
 47  A48     5864 non-null   object
 48  A49     5867 non-null   object
 49  A50     5878 non-null   object
 50  A51     5868 non-null   object
 51  A52     5870 non-null   object
 52  A53     5867 non-null   object
 53  A54     5876 non-null   object
 54  A55     5891 non-null   object
 55  A56     5863 non-null   object
 56  A57     5852 non-null   object
 57  A58     5876 non-null   object
 58  A59     5841 non-null   object
 59  A60     5878 non-null   object
 60  A61     5872 non-null   object
 61  A62     5861 non-null   object
 62  A63     5869 non-null   object
 63  A64     5886 non-null   object
 64  A65     5859 non-null   object
 65  A66     5871 non-null   object
 66  A67     5870 non-null   object
 67  A68     5878 non-null   object
 68  A69     5873 non-null   object
 69  A70     5866 non-null   object
 70  A71     5874 non-null   object
 71  A72     5876 non-null   object
 72  A73     5875 non-null   object
 73  A74     5866 non-null   object
 74  A75     5867 non-null   object
 75  A76     5855 non-null   object
 76  A77     5884 non-null   object
 77  A78     5880 non-null   object
 78  A79     5870 non-null   object
 79  A80     5871 non-null   object
 80  A81     5866 non-null   object
 81  A82     5890 non-null   object
 82  A83     5889 non-null   object
 83  A84     5876 non-null   object
 84  A85     5875 non-null   object
 85  A86     5858 non-null   object
 86  A87     5344 non-null   object
dtypes: object(87)
memory usage: 3.9+ MB
None

1.2 Identificar Valores nulos

In [261]:
#df = df.dropna()
print("Valores nulos por columna:")
print(df.isna().sum())
print("\n")
total_filas = len(df)
for col, nulos in df.isna().sum().items():
    if nulos > 0:
        porcentaje = (nulos / total_filas) * 100
        print(f"Columna '{col}': {nulos} nulos ({porcentaje:.2f}%)")

Valores nulos por columna:
A1      68
A2      73
A3      64
A4      69
A5      60
      ...
A83     48
A84     61
A85     62
A86     79
A87    593
Length: 87, dtype: int64


Columna 'A1': 68 nulos (1.15%)
Columna 'A2': 73 nulos (1.23%)
Columna 'A3': 64 nulos (1.08%)
Columna 'A4': 69 nulos (1.16%)
Columna 'A5': 60 nulos (1.01%)
Columna 'A6': 74 nulos (1.25%)
Columna 'A7': 79 nulos (1.33%)
Columna 'A8': 63 nulos (1.06%)
Columna 'A9': 62 nulos (1.04%)
Columna 'A10': 61 nulos (1.03%)
Columna 'A11': 66 nulos (1.11%)
Columna 'A12': 66 nulos (1.11%)
Columna 'A13': 66 nulos (1.11%)
Columna 'A14': 85 nulos (1.43%)
Columna 'A15': 60 nulos (1.01%)
Columna 'A16': 71 nulos (1.20%)
Columna 'A17': 63 nulos (1.06%)
Columna 'A18': 63 nulos (1.06%)
Columna 'A19': 82 nulos (1.38%)
Columna 'A20': 67 nulos (1.13%)
Columna 'A21': 78 nulos (1.31%)
Columna 'A22': 85 nulos (1.43%)
Columna 'A23': 52 nulos (0.88%)
Columna 'A24': 73 nulos (1.23%)
Columna 'A25': 77 nulos (1.30%)
Columna 'A26': 74 nulos (1.25%)
Columna 'A27': 60 nulos (1.01%)
Columna 'A28': 79 nulos (1.33%)
Columna 'A29': 73 nulos (1.23%)
Columna 'A30': 69 nulos (1.16%)
Columna 'A31': 58 nulos (0.98%)
Columna 'A32': 49 nulos (0.83%)
Columna 'A33': 45 nulos (0.76%)
Columna 'A34': 63 nulos (1.06%)
Columna 'A35': 65 nulos (1.09%)
Columna 'A36': 73 nulos (1.23%)
Columna 'A37': 62 nulos (1.04%)
Columna 'A38': 78 nulos (1.31%)
Columna 'A39': 73 nulos (1.23%)
Columna 'A40': 58 nulos (0.98%)
Columna 'A41': 85 nulos (1.43%)
Columna 'A42': 63 nulos (1.06%)
Columna 'A43': 58 nulos (0.98%)
Columna 'A44': 81 nulos (1.36%)
Columna 'A45': 73 nulos (1.23%)
Columna 'A46': 70 nulos (1.18%)
Columna 'A47': 65 nulos (1.09%)
Columna 'A48': 73 nulos (1.23%)
Columna 'A49': 70 nulos (1.18%)
Columna 'A50': 59 nulos (0.99%)
Columna 'A51': 69 nulos (1.16%)
Columna 'A52': 67 nulos (1.13%)
Columna 'A53': 70 nulos (1.18%)
Columna 'A54': 61 nulos (1.03%)
Columna 'A55': 46 nulos (0.77%)
Columna 'A56': 74 nulos (1.25%)
Columna 'A57': 85 nulos (1.43%)
Columna 'A58': 61 nulos (1.03%)
Columna 'A59': 96 nulos (1.62%)
Columna 'A60': 59 nulos (0.99%)
Columna 'A61': 65 nulos (1.09%)
Columna 'A62': 76 nulos (1.28%)
Columna 'A63': 68 nulos (1.15%)
Columna 'A64': 51 nulos (0.86%)
Columna 'A65': 78 nulos (1.31%)
Columna 'A66': 66 nulos (1.11%)
Columna 'A67': 67 nulos (1.13%)
Columna 'A68': 59 nulos (0.99%)
Columna 'A69': 64 nulos (1.08%)
Columna 'A70': 71 nulos (1.20%)
Columna 'A71': 63 nulos (1.06%)
Columna 'A72': 61 nulos (1.03%)
Columna 'A73': 62 nulos (1.04%)
Columna 'A74': 71 nulos (1.20%)
Columna 'A75': 70 nulos (1.18%)
Columna 'A76': 82 nulos (1.38%)
Columna 'A77': 53 nulos (0.89%)
Columna 'A78': 57 nulos (0.96%)
Columna 'A79': 67 nulos (1.13%)
Columna 'A80': 66 nulos (1.11%)
Columna 'A81': 71 nulos (1.20%)
Columna 'A82': 47 nulos (0.79%)
Columna 'A83': 48 nulos (0.81%)
Columna 'A84': 61 nulos (1.03%)
Columna 'A85': 62 nulos (1.04%)
Columna 'A86': 79 nulos (1.33%)
Columna 'A87': 593 nulos (9.99%)

1.1.1 Limpieza de Datos

Eliminaremos la ultima columna dado que tiene una alta cardinalidad y parece no poseer un poder de generalización:

In [262]:
df.drop(df.columns[-1], axis=1, inplace=True)

1.1.1.1 Tratamiento de Valores Nulos

In [263]:
#Numeric columns -> Mediana
#df[col].fillna(df[col].median()))

#Categoric columns -> Moda
#df[col].fillna(df[col].mode()[0])

#Para la variable objetivo deberemos eliminar para evitar introducir sesgo
# Nombre de la variable objetivo
target = "A86"

# Eliminar filas donde el target sea nulo
df = df.dropna(subset=[target])


# Separar columnas por tipo
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
cat_cols = df.select_dtypes(include=["object", "category"]).columns

#PANDAS
# Imputar numéricas con la mediana
#for col in num_cols:
#    df[col].fillna(df[col].median(), inplace=True)

# Imputar categóricas con la moda
#for col in cat_cols:
#    if df[col].isna().sum() > 0:  # solo si tiene nulos
#        moda = df[col].mode()[0]
#        df[col].fillna(moda, inplace=True)
        ##df.method({col: moda}, inplace=True)
        ##df[col] = df[col].method(moda)

#IMPUTAR CON SCIKIT-LEARN
# Definir imputadores
imputer_num = SimpleImputer(strategy="median")
imputer_cat = SimpleImputer(strategy="most_frequent")

# Construir transformador por tipo de columna
preprocessor = ColumnTransformer(
    transformers=[
        ("num", imputer_num, num_cols),
        ("cat", imputer_cat, cat_cols)
    ]
)
# Aplicar al DataFrame
df_imputed = preprocessor.fit_transform(df)

# Reconstruir DataFrame con nombres de columnas originales
df_imputed = pd.DataFrame(df_imputed, columns=num_cols.tolist() + cat_cols.tolist())
df = df_imputed

print("Imputación completada.")

Imputación completada.

Se comprobara que no existan nulos:

In [264]:
#df = df.dropna()
print("Valores nulos por columna:")
print(df.isna().sum())
print("\n")
total_filas = len(df)
for col, nulos in df.isna().sum().items():
    if nulos > 0:
        porcentaje = (nulos / total_filas) * 100
        print(f"Columna '{col}': {nulos} nulos ({porcentaje:.2f}%)")

Valores nulos por columna:
A1     0
A2     0
A3     0
A4     0
A5     0
      ..
A82    0
A83    0
A84    0
A85    0
A86    0
Length: 86, dtype: int64

Se comprueba que la dimensionalidad concuerde con el numero de registros que no eran nulos para la variable objetivo:

In [265]:
print("Información general del dataset:")
print(df.info())

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5858 entries, 0 to 5857
Data columns (total 86 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      5858 non-null   object
 1   A2      5858 non-null   object
 2   A3      5858 non-null   object
 3   A4      5858 non-null   object
 4   A5      5858 non-null   object
 5   A6      5858 non-null   object
 6   A7      5858 non-null   object
 7   A8      5858 non-null   object
 8   A9      5858 non-null   object
 9   A10     5858 non-null   object
 10  A11     5858 non-null   object
 11  A12     5858 non-null   object
 12  A13     5858 non-null   object
 13  A14     5858 non-null   object
 14  A15     5858 non-null   object
 15  A16     5858 non-null   object
 16  A17     5858 non-null   object
 17  A18     5858 non-null   object
 18  A19     5858 non-null   object
 19  A20     5858 non-null   object
 20  A21     5858 non-null   object
 21  A22     5858 non-null   object
 22  A23     5858 non-null   object
 23  A24     5858 non-null   object
 24  A25     5858 non-null   object
 25  A26     5858 non-null   object
 26  A27     5858 non-null   object
 27  A28     5858 non-null   object
 28  A29     5858 non-null   object
 29  A30     5858 non-null   object
 30  A31     5858 non-null   object
 31  A32     5858 non-null   object
 32  A33     5858 non-null   object
 33  A34     5858 non-null   object
 34  A35     5858 non-null   object
 35  A36     5858 non-null   object
 36  A37     5858 non-null   object
 37  A38     5858 non-null   object
 38  A39     5858 non-null   object
 39  A40     5858 non-null   object
 40  A41     5858 non-null   object
 41  A42     5858 non-null   object
 42  A43     5858 non-null   object
 43  A44     5858 non-null   object
 44  A45     5858 non-null   object
 45  A46     5858 non-null   object
 46  A47     5858 non-null   object
 47  A48     5858 non-null   object
 48  A49     5858 non-null   object
 49  A50     5858 non-null   object
 50  A51     5858 non-null   object
 51  A52     5858 non-null   object
 52  A53     5858 non-null   object
 53  A54     5858 non-null   object
 54  A55     5858 non-null   object
 55  A56     5858 non-null   object
 56  A57     5858 non-null   object
 57  A58     5858 non-null   object
 58  A59     5858 non-null   object
 59  A60     5858 non-null   object
 60  A61     5858 non-null   object
 61  A62     5858 non-null   object
 62  A63     5858 non-null   object
 63  A64     5858 non-null   object
 64  A65     5858 non-null   object
 65  A66     5858 non-null   object
 66  A67     5858 non-null   object
 67  A68     5858 non-null   object
 68  A69     5858 non-null   object
 69  A70     5858 non-null   object
 70  A71     5858 non-null   object
 71  A72     5858 non-null   object
 72  A73     5858 non-null   object
 73  A74     5858 non-null   object
 74  A75     5858 non-null   object
 75  A76     5858 non-null   object
 76  A77     5858 non-null   object
 77  A78     5858 non-null   object
 78  A79     5858 non-null   object
 79  A80     5858 non-null   object
 80  A81     5858 non-null   object
 81  A82     5858 non-null   object
 82  A83     5858 non-null   object
 83  A84     5858 non-null   object
 84  A85     5858 non-null   object
 85  A86     5858 non-null   object
dtypes: object(86)
memory usage: 3.8+ MB
None

1.3 Estadisticas descriptivas

In [266]:
print("\nEstadísticas descriptivas:")
for col in df.columns:
    print(f"\nColumna: {col}")
    print(df[col].describe())
#df.describe(include="all")

Estadísticas descriptivas:

Columna: A1
count     5858
unique     152
top       33.0
freq       827
Name: A1, dtype: object

Columna: A2
count     5858
unique      79
top        1.0
freq      4954
Name: A2, dtype: object

Columna: A3
count     5858
unique      73
top        3.0
freq      2547
Name: A3, dtype: object

Columna: A4
count     5858
unique      85
top        3.0
freq      2839
Name: A4, dtype: object

Columna: A5
count     5858
unique      79
top        8.0
freq      1517
Name: A5, dtype: object

Columna: A6
count     5858
unique      49
top        0.0
freq      3086
Name: A6, dtype: object

Columna: A7
count     5858
unique      79
top        4.0
freq      1562
Name: A7, dtype: object

Columna: A8
count     5858
unique      64
top        0.0
freq      1948
Name: A8, dtype: object

Columna: A9
count     5858
unique      64
top        3.0
freq      1430
Name: A9, dtype: object

Columna: A10
count     5858
unique      88
top        7.0
freq      1614
Name: A10, dtype: object

Columna: A11
count     5858
unique      65
top        0.0
freq      2345
Name: A11, dtype: object

Columna: A12
count     5858
unique      75
top        2.0
freq      1709
Name: A12, dtype: object

Columna: A13
count     5858
unique      74
top        0.0
freq      1701
Name: A13, dtype: object

Columna: A14
count     5858
unique      79
top        3.0
freq      1484
Name: A14, dtype: object

Columna: A15
count     5858
unique      76
top        4.0
freq      1130
Name: A15, dtype: object

Columna: A16
count     5858
unique      80
top        0.0
freq      2065
Name: A16, dtype: object

Columna: A17
count     5858
unique      72
top        4.0
freq      1407
Name: A17, dtype: object

Columna: A18
count     5858
unique      83
top        5.0
freq      1000
Name: A18, dtype: object

Columna: A19
count     5858
unique      87
top        0.0
freq      1518
Name: A19, dtype: object

Columna: A20
count     5858
unique      56
top        0.0
freq      3958
Name: A20, dtype: object

Columna: A21
count     5858
unique      58
top        0.0
freq      4002
Name: A21, dtype: object

Columna: A22
count     5858
unique      79
top        2.0
freq      1475
Name: A22, dtype: object

Columna: A23
count     5858
unique      73
top        2.0
freq      1344
Name: A23, dtype: object

Columna: A24
count     5858
unique      61
top        2.0
freq      1415
Name: A24, dtype: object

Columna: A25
count     5858
unique      73
top        0.0
freq      1703
Name: A25, dtype: object

Columna: A26
count     5858
unique      79
top        2.0
freq      1718
Name: A26, dtype: object

Columna: A27
count     5858
unique      78
top        2.0
freq      1620
Name: A27, dtype: object

Columna: A28
count     5858
unique      66
top        5.0
freq      1163
Name: A28, dtype: object

Columna: A29
count     5858
unique      69
top        0.0
freq      2512
Name: A29, dtype: object

Columna: A30
count     5858
unique      74
top        0.0
freq       964
Name: A30, dtype: object

Columna: A31
count     5858
unique      76
top        9.0
freq       951
Name: A31, dtype: object

Columna: A32
count     5858
unique      79
top        6.0
freq      1611
Name: A32, dtype: object

Columna: A33
count     5858
unique      65
top        0.0
freq      1794
Name: A33, dtype: object

Columna: A34
count     5858
unique      78
top        2.0
freq      1583
Name: A34, dtype: object

Columna: A35
count     5858
unique      91
top        7.0
freq      1486
Name: A35, dtype: object

Columna: A36
count     5858
unique      80
top        2.0
freq      1477
Name: A36, dtype: object

Columna: A37
count     5858
unique      81
top        0.0
freq      1260
Name: A37, dtype: object

Columna: A38
count     5858
unique      81
top        4.0
freq      1339
Name: A38, dtype: object

Columna: A39
count     5858
unique      67
top        3.0
freq      1217
Name: A39, dtype: object

Columna: A40
count     5858
unique      63
top        0.0
freq      3101
Name: A40, dtype: object

Columna: A41
count     5858
unique      42
top        0.0
freq      4663
Name: A41, dtype: object

Columna: A42
count     5858
unique      64
top        3.0
freq      1861
Name: A42, dtype: object

Columna: A43
count     5858
unique      77
top        3.0
freq      1480
Name: A43, dtype: object

Columna: A44
count     5858
unique      53
top        0.0
freq      3348
Name: A44, dtype: object

Columna: A45
count     5858
unique      43
top        0.0
freq      5459
Name: A45, dtype: object

Columna: A46
count     5858
unique      32
top        0.0
freq      5429
Name: A46, dtype: object

Columna: A47
count     5858
unique      48
top        0.0
freq      2728
Name: A47, dtype: object

Columna: A48
count     5858
unique      43
top        0.0
freq      5475
Name: A48, dtype: object

Columna: A49
count     5858
unique      44
top        0.0
freq      5328
Name: A49, dtype: object

Columna: A50
count     5858
unique      41
top        0.0
freq      5510
Name: A50, dtype: object

Columna: A51
count     5858
unique      36
top        0.0
freq      5468
Name: A51, dtype: object

Columna: A52
count     5858
unique      42
top        0.0
freq      5387
Name: A52, dtype: object

Columna: A53
count     5858
unique      37
top        0.0
freq      5485
Name: A53, dtype: object

Columna: A54
count     5858
unique      45
top        0.0
freq      5141
Name: A54, dtype: object

Columna: A55
count     5858
unique      51
top        0.0
freq      5250
Name: A55, dtype: object

Columna: A56
count     5858
unique      40
top        0.0
freq      5473
Name: A56, dtype: object

Columna: A57
count     5858
unique      40
top        0.0
freq      5480
Name: A57, dtype: object

Columna: A58
count     5858
unique      40
top        0.0
freq      5479
Name: A58, dtype: object

Columna: A59
count     5858
unique      73
top        0.0
freq      2581
Name: A59, dtype: object

Columna: A60
count     5858
unique      41
top        0.0
freq      5524
Name: A60, dtype: object

Columna: A61
count     5858
unique      48
top        0.0
freq      5480
Name: A61, dtype: object

Columna: A62
count     5858
unique      35
top        0.0
freq      5396
Name: A62, dtype: object

Columna: A63
count     5858
unique      55
top        0.0
freq      5493
Name: A63, dtype: object

Columna: A64
count     5858
unique      44
top        0.0
freq      5418
Name: A64, dtype: object

Columna: A65
count     5858
unique      56
top        0.0
freq      3332
Name: A65, dtype: object

Columna: A66
count     5858
unique      30
top        0.0
freq      5445
Name: A66, dtype: object

Columna: A67
count     5858
unique      38
top        0.0
freq      5429
Name: A67, dtype: object

Columna: A68
count     5858
unique      66
top        0.0
freq      2714
Name: A68, dtype: object

Columna: A69
count     5858
unique      41
top        0.0
freq      5447
Name: A69, dtype: object

Columna: A70
count     5858
unique      43
top        0.0
freq      5329
Name: A70, dtype: object

Columna: A71
count     5858
unique      30
top        0.0
freq      5509
Name: A71, dtype: object

Columna: A72
count     5858
unique      38
top        0.0
freq      5488
Name: A72, dtype: object

Columna: A73
count     5858
unique      33
top        0.0
freq      5392
Name: A73, dtype: object

Columna: A74
count     5858
unique      35
top        0.0
freq      5472
Name: A74, dtype: object

Columna: A75
count     5858
unique      42
top        0.0
freq      5124
Name: A75, dtype: object

Columna: A76
count     5858
unique      42
top        0.0
freq      5245
Name: A76, dtype: object

Columna: A77
count     5858
unique      29
top        0.0
freq      5501
Name: A77, dtype: object

Columna: A78
count     5858
unique      37
top        0.0
freq      5469
Name: A78, dtype: object

Columna: A79
count     5858
unique      32
top        0.0
freq      5521
Name: A79, dtype: object

Columna: A80
count     5858
unique      62
top        1.0
freq      2891
Name: A80, dtype: object

Columna: A81
count     5858
unique      38
top        0.0
freq      5532
Name: A81, dtype: object

Columna: A82
count     5858
unique      38
top        0.0
freq      5485
Name: A82, dtype: object

Columna: A83
count     5858
unique      42
top        0.0
freq      5392
Name: A83, dtype: object

Columna: A84
count     5858
unique      40
top        0.0
freq      5510
Name: A84, dtype: object

Columna: A85
count     5858
unique      38
top        0.0
freq      5433
Name: A85, dtype: object

Columna: A86
count     5858
unique      31
top        0.0
freq      5173
Name: A86, dtype: object

Dado que el dataset esta modificado, asumiremos que no conocemos las columnas y haremos un análisis exploratorio para conocer las 5 primerpos resultados y los unique values de esa columna con ello definiremos de que tipo son ante de obtener las estadísticas de cada columna.

In [267]:
for col in df.columns:
    print(f"\nColumna: {col}")
    print(df[col].head(5))
    print("Tipo original:", df[col].dtype)
    print("Número de valores únicos:", df[col].nunique())

Columna: A1
0     37.0
1      37.0
2       9.0
3      40.0
4     23.0
Name: A1, dtype: object
Tipo original: object
Número de valores únicos: 152

Columna: A2
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: A2, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A3
0    2.0
1    2.0
2    3.0
3    4.0
4    2.0
Name: A3, dtype: object
Tipo original: object
Número de valores únicos: 73

Columna: A4
0    2.0
1    2.0
2    3.0
3    2.0
4    1.0
Name: A4, dtype: object
Tipo original: object
Número de valores únicos: 85

Columna: A5
0     8.0
1     8.0
2     3.0
3    10.0
4     5.0
Name: A5, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A6
0    1.0
1    0.0
2    2.0
3    1.0
4    0.0
Name: A6, dtype: object
Tipo original: object
Número de valores únicos: 49

Columna: A7
0    4.0
1    4.0
2    3.0
3    4.0
4    5.0
Name: A7, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A8
0        ?
1      2.0
2     2.0
3      1.0
4      0.0
Name: A8, dtype: object
Tipo original: object
Número de valores únicos: 64

Columna: A9
0    4.0
1    4.0
2    4.0
3    4.0
4    5.0
Name: A9, dtype: object
Tipo original: object
Número de valores únicos: 64

Columna: A10
0     6.0
1      3.0
2      5.0
3      7.0
4      0.0
Name: A10, dtype: object
Tipo original: object
Número de valores únicos: 88

Columna: A11
0    2.0
1    2.0
2    2.0
3    1.0
4    6.0
Name: A11, dtype: object
Tipo original: object
Número de valores únicos: 65

Columna: A12
0    2.0
1    4.0
2    2.0
3    2.0
4    3.0
Name: A12, dtype: object
Tipo original: object
Número de valores únicos: 75

Columna: A13
0      0.0
1      4.0
2      2.0
3      0.0
4     3.0
Name: A13, dtype: object
Tipo original: object
Número de valores únicos: 74

Columna: A14
0    4.0
1    4.0
2    3.0
3    4.0
4    5.0
Name: A14, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A15
0     5.0
1      2.0
2      4.0
3      4.0
4      2.0
Name: A15, dtype: object
Tipo original: object
Número de valores únicos: 76

Columna: A16
0    0.0
1    0.0
2    3.0
3    5.0
4    0.0
Name: A16, dtype: object
Tipo original: object
Número de valores únicos: 80

Columna: A17
0    5.0
1    5.0
2    4.0
3    4.0
4    5.0
Name: A17, dtype: object
Tipo original: object
Número de valores únicos: 72

Columna: A18
0    4.0
1    4.0
2    2.0
3    0.0
4    4.0
Name: A18, dtype: object
Tipo original: object
Número de valores únicos: 83

Columna: A19
0      0.0
1      0.0
2      4.0
3     0.0
4      2.0
Name: A19, dtype: object
Tipo original: object
Número de valores únicos: 87

Columna: A20
0    0.0
1    0.0
2    0.0
3    5.0
4    0.0
Name: A20, dtype: object
Tipo original: object
Número de valores únicos: 56

Columna: A21
0     0.0
1      0.0
2      0.0
3      4.0
4      0.0
Name: A21, dtype: object
Tipo original: object
Número de valores únicos: 58

Columna: A22
0    5.0
1    7.0
2    3.0
3    0.0
4    4.0
Name: A22, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A23
0    0.0
1    0.0
2    1.0
3    0.0
4    2.0
Name: A23, dtype: object
Tipo original: object
Número de valores únicos: 73

Columna: A24
0    4.0
1    2.0
2    2.0
3    0.0
4    2.0
Name: A24, dtype: object
Tipo original: object
Número de valores únicos: 61

Columna: A25
0    0.0
1    0.0
2    3.0
3    9.0
4    2.0
Name: A25, dtype: object
Tipo original: object
Número de valores únicos: 73

Columna: A26
0      2.0
1     5.0
2      2.0
3      0.0
4      2.0
Name: A26, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A27
0      3.0
1     0.0
2      1.0
3      0.0
4      2.0
Name: A27, dtype: object
Tipo original: object
Número de valores únicos: 78

Columna: A28
0    5.0
1    4.0
2    4.0
3    0.0
4    4.0
Name: A28, dtype: object
Tipo original: object
Número de valores únicos: 66

Columna: A29
0    0.0
1    0.0
2    0.0
3    0.0
4    2.0
Name: A29, dtype: object
Tipo original: object
Número de valores únicos: 69

Columna: A30
0    2.0
1    7.0
2    5.0
3    4.0
4    9.0
Name: A30, dtype: object
Tipo original: object
Número de valores únicos: 74

Columna: A31
0    7.0
1    2.0
2    4.0
3    5.0
4    0.0
Name: A31, dtype: object
Tipo original: object
Número de valores únicos: 76

Columna: A32
0    6.0
1    7.0
2    9.0
3    6.0
4    5.0
Name: A32, dtype: object
Tipo original: object
Número de valores únicos: 79

Columna: A33
0      1.0
1      0.0
2      0.0
3      2.0
4     3.0
Name: A33, dtype: object
Tipo original: object
Número de valores únicos: 65

Columna: A34
0    2.0
1    2.0
2    0.0
3    1.0
4    3.0
Name: A34, dtype: object
Tipo original: object
Número de valores únicos: 78

Columna: A35
0    6.0
1    9.0
2    7.0
3    5.0
4    9.0
Name: A35, dtype: object
Tipo original: object
Número de valores únicos: 91

Columna: A36
0    3.0
1    0.0
2    2.0
3    4.0
4    0.0
Name: A36, dtype: object
Tipo original: object
Número de valores únicos: 80

Columna: A37
0      2.0
1     4.0
2      1.0
3      0.0
4      5.0
Name: A37, dtype: object
Tipo original: object
Número de valores únicos: 81

Columna: A38
0    0.0
1    5.0
2    5.0
3    0.0
4    2.0
Name: A38, dtype: object
Tipo original: object
Número de valores únicos: 81

Columna: A39
0      5.0
1      0.0
2      3.0
3      9.0
4     3.0
Name: A39, dtype: object
Tipo original: object
Número de valores únicos: 67

Columna: A40
0      2.0
1    294.0
2      0.0
3      0.0
4      0.0
Name: A40, dtype: object
Tipo original: object
Número de valores únicos: 63

Columna: A41
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A41, dtype: object
Tipo original: object
Número de valores únicos: 42

Columna: A42
0    5.0
1    3.0
2    4.0
3    6.0
4    3.0
Name: A42, dtype: object
Tipo original: object
Número de valores únicos: 64

Columna: A43
0    4.0
1    4.0
2    4.0
3    3.0
4    3.0
Name: A43, dtype: object
Tipo original: object
Número de valores únicos: 77

Columna: A44
0    2.0
1    2.0
2    0.0
3    0.0
4    0.0
Name: A44, dtype: object
Tipo original: object
Número de valores únicos: 53

Columna: A45
0      0.0
1      0.0
2     0.0
3      0.0
4      0.0
Name: A45, dtype: object
Tipo original: object
Número de valores únicos: 43

Columna: A46
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A46, dtype: object
Tipo original: object
Número de valores únicos: 32

Columna: A47
0    0.0
1    6.0
2    6.0
3    0.0
4    6.0
Name: A47, dtype: object
Tipo original: object
Número de valores únicos: 48

Columna: A48
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A48, dtype: object
Tipo original: object
Número de valores únicos: 43

Columna: A49
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A49, dtype: object
Tipo original: object
Número de valores únicos: 44

Columna: A50
0     0.0
1      0.0
2      0.0
3     0.0
4      0.0
Name: A50, dtype: object
Tipo original: object
Número de valores únicos: 41

Columna: A51
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A51, dtype: object
Tipo original: object
Número de valores únicos: 36

Columna: A52
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A52, dtype: object
Tipo original: object
Número de valores únicos: 42

Columna: A53
0      0.0
1      0.0
2    480.0
3      0.0
4      0.0
Name: A53, dtype: object
Tipo original: object
Número de valores únicos: 37

Columna: A54
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A54, dtype: object
Tipo original: object
Número de valores únicos: 45

Columna: A55
0      0.0
1     0.0
2      0.0
3      0.0
4      0.0
Name: A55, dtype: object
Tipo original: object
Número de valores únicos: 51

Columna: A56
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A56, dtype: object
Tipo original: object
Número de valores únicos: 40

Columna: A57
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A57, dtype: object
Tipo original: object
Número de valores únicos: 40

Columna: A58
0      0.0
1      0.0
2      0.0
3      0.0
4     0.0
Name: A58, dtype: object
Tipo original: object
Número de valores únicos: 40

Columna: A59
0    2.0
1    2.0
2    2.0
3    6.0
4    0.0
Name: A59, dtype: object
Tipo original: object
Número de valores únicos: 73

Columna: A60
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A60, dtype: object
Tipo original: object
Número de valores únicos: 41

Columna: A61
0      0.0
1      0.0
2      0.0
3      0.0
4     0.0
Name: A61, dtype: object
Tipo original: object
Número de valores únicos: 48

Columna: A62
0      0.0
1      0.0
2      0.0
3      0.0
4     0.0
Name: A62, dtype: object
Tipo original: object
Número de valores únicos: 35

Columna: A63
0      0.0
1      0.0
2      0.0
3      0.0
4     0.0
Name: A63, dtype: object
Tipo original: object
Número de valores únicos: 55

Columna: A64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A64, dtype: object
Tipo original: object
Número de valores únicos: 44

Columna: A65
0    2.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: A65, dtype: object
Tipo original: object
Número de valores únicos: 56

Columna: A66
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A66, dtype: object
Tipo original: object
Número de valores únicos: 30

Columna: A67
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A67, dtype: object
Tipo original: object
Número de valores únicos: 38

Columna: A68
0    0.0
1    1.0
2    1.0
3    0.0
4    1.0
Name: A68, dtype: object
Tipo original: object
Número de valores únicos: 66

Columna: A69
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A69, dtype: object
Tipo original: object
Número de valores únicos: 41

Columna: A70
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A70, dtype: object
Tipo original: object
Número de valores únicos: 43

Columna: A71
0    0.0
1    0.0
2    0.0
3      ?
4    0.0
Name: A71, dtype: object
Tipo original: object
Número de valores únicos: 30

Columna: A72
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A72, dtype: object
Tipo original: object
Número de valores únicos: 38

Columna: A73
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A73, dtype: object
Tipo original: object
Número de valores únicos: 33

Columna: A74
0      0.0
1     0.0
2      0.0
3      0.0
4      0.0
Name: A74, dtype: object
Tipo original: object
Número de valores únicos: 35

Columna: A75
0      0.0
1      0.0
2     0.0
3      0.0
4      0.0
Name: A75, dtype: object
Tipo original: object
Número de valores únicos: 42

Columna: A76
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A76, dtype: object
Tipo original: object
Número de valores únicos: 42

Columna: A77
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A77, dtype: object
Tipo original: object
Número de valores únicos: 29

Columna: A78
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A78, dtype: object
Tipo original: object
Número de valores únicos: 37

Columna: A79
0      0.0
1      0.0
2     0.0
3      0.0
4      0.0
Name: A79, dtype: object
Tipo original: object
Número de valores únicos: 32

Columna: A80
0      1.0
1      1.0
2      1.0
3     1.0
4      0.0
Name: A80, dtype: object
Tipo original: object
Número de valores únicos: 62

Columna: A81
0    invalid
1        0.0
2        0.0
3        0.0
4        0.0
Name: A81, dtype: object
Tipo original: object
Número de valores únicos: 38

Columna: A82
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A82, dtype: object
Tipo original: object
Número de valores únicos: 38

Columna: A83
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A83, dtype: object
Tipo original: object
Número de valores únicos: 42

Columna: A84
0      0.0
1     0.0
2      0.0
3      0.0
4      0.0
Name: A84, dtype: object
Tipo original: object
Número de valores únicos: 40

Columna: A85
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A85, dtype: object
Tipo original: object
Número de valores únicos: 38

Columna: A86
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: A86, dtype: object
Tipo original: object
Número de valores únicos: 31

In [268]:
#df["A86"].value_counts().head(20)
conteo = df[target].value_counts()
#conteo.head(30)
conteo

A86
0.0        5173
1.0         333
 0.0        282
 1.0         18
invalid      17
error         7
 NAN          4
668.0         1
 ?            1
256.0         1
782.0         1
631.0         1
137.0         1
185.0         1
?             1
916.0         1
299.0         1
949.0         1
771.0         1
10.0          1
144.0         1
758.0         1
763.0         1
312.0         1
281.0         1
933.0         1
829.0         1
430.0         1
566.0         1
451.0         1
538.0         1
Name: count, dtype: int64

Se observa que la variable objetivo contiene una cantidad de valores que no corresponden con las categorias esperadas.

Por lo tanto sera necesario **eliminar** filas inválidas.

In [269]:
expected = ["0", "1"]
#df = df[df[target].isin(expected)]
#df[target].value_counts()
#df.shape

#valid_mask = df[target].isin([0, 1])

#df_valid = df[valid_mask].copy()      # dataset limpio
#df_invalid = df[~valid_mask].copy()   # dataset con registros incorrectos

#print(f"Registros válidos: {len(df_valid)}")
#print(f"Registros inválidos eliminados: {len(df_invalid)}")

# Supongamos que tu columna objetivo se llama "target"
# 1️⃣ Normalizar los valores 0.0 -> 0 y 1.0 -> 1
df[target] = pd.to_numeric(df[target], errors="coerce")  # convierte strings numéricos a float
df[target] = df[target].round(0).astype("Int64")         # redondea y convierte a entero nullable

# 2️⃣ Filtrar solo los valores válidos (0 y 1)
df = df[df[target].isin([0, 1])]

# 3️⃣ (Opcional) convertir a tipo categórico
#df[target] = df[target].astype("category")

# 4️⃣ Verificar conteo final
print(df[target].value_counts())

A86
0    5455
1     351
Name: count, dtype: Int64

In [270]:
df.shape

(5806, 86)

In [271]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5806 entries, 0 to 5857
Data columns (total 86 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      5806 non-null   object
 1   A2      5806 non-null   object
 2   A3      5806 non-null   object
 3   A4      5806 non-null   object
 4   A5      5806 non-null   object
 5   A6      5806 non-null   object
 6   A7      5806 non-null   object
 7   A8      5806 non-null   object
 8   A9      5806 non-null   object
 9   A10     5806 non-null   object
 10  A11     5806 non-null   object
 11  A12     5806 non-null   object
 12  A13     5806 non-null   object
 13  A14     5806 non-null   object
 14  A15     5806 non-null   object
 15  A16     5806 non-null   object
 16  A17     5806 non-null   object
 17  A18     5806 non-null   object
 18  A19     5806 non-null   object
 19  A20     5806 non-null   object
 20  A21     5806 non-null   object
 21  A22     5806 non-null   object
 22  A23     5806 non-null   object
 23  A24     5806 non-null   object
 24  A25     5806 non-null   object
 25  A26     5806 non-null   object
 26  A27     5806 non-null   object
 27  A28     5806 non-null   object
 28  A29     5806 non-null   object
 29  A30     5806 non-null   object
 30  A31     5806 non-null   object
 31  A32     5806 non-null   object
 32  A33     5806 non-null   object
 33  A34     5806 non-null   object
 34  A35     5806 non-null   object
 35  A36     5806 non-null   object
 36  A37     5806 non-null   object
 37  A38     5806 non-null   object
 38  A39     5806 non-null   object
 39  A40     5806 non-null   object
 40  A41     5806 non-null   object
 41  A42     5806 non-null   object
 42  A43     5806 non-null   object
 43  A44     5806 non-null   object
 44  A45     5806 non-null   object
 45  A46     5806 non-null   object
 46  A47     5806 non-null   object
 47  A48     5806 non-null   object
 48  A49     5806 non-null   object
 49  A50     5806 non-null   object
 50  A51     5806 non-null   object
 51  A52     5806 non-null   object
 52  A53     5806 non-null   object
 53  A54     5806 non-null   object
 54  A55     5806 non-null   object
 55  A56     5806 non-null   object
 56  A57     5806 non-null   object
 57  A58     5806 non-null   object
 58  A59     5806 non-null   object
 59  A60     5806 non-null   object
 60  A61     5806 non-null   object
 61  A62     5806 non-null   object
 62  A63     5806 non-null   object
 63  A64     5806 non-null   object
 64  A65     5806 non-null   object
 65  A66     5806 non-null   object
 66  A67     5806 non-null   object
 67  A68     5806 non-null   object
 68  A69     5806 non-null   object
 69  A70     5806 non-null   object
 70  A71     5806 non-null   object
 71  A72     5806 non-null   object
 72  A73     5806 non-null   object
 73  A74     5806 non-null   object
 74  A75     5806 non-null   object
 75  A76     5806 non-null   object
 76  A77     5806 non-null   object
 77  A78     5806 non-null   object
 78  A79     5806 non-null   object
 79  A80     5806 non-null   object
 80  A81     5806 non-null   object
 81  A82     5806 non-null   object
 82  A83     5806 non-null   object
 83  A84     5806 non-null   object
 84  A85     5806 non-null   object
 85  A86     5806 non-null   Int64
dtypes: Int64(1), object(85)
memory usage: 3.9+ MB
None

Analizaremos si la mayoria de los datos de las columnas son de algun tipo para transformarlas:

In [272]:
def analityc_convertion_columns(df, fecha_threshold=0.5, cat_threshold=0.1):
    """
    Identifica el tipo de columnas partiendo del tipo object  para saber si es numéricas, fechas o categóricas,
    EXCLUYENDO la variable objetivo (target).

    Hace enfasis en las columnas con mayor cardilidad pues pueden ser de texto libre.
    """
    for col in df.columns:
        if df[col].dtype == "object":
            # 1. Identifica numérico
            num_col = pd.to_numeric(df[col], errors="coerce")
            if num_col.notna().mean() > 0.9:  # si >90% son convertibles
                print(f" Columna '{col}' detectada como NUMERICA")
                continue

            # 2. Identifica fecha
            fecha_col = pd.to_datetime(df[col], errors="coerce", infer_datetime_format=True)
            if fecha_col.notna().mean() > fecha_threshold:
                print(f" Columna '{col}' detectada como FECHA")
                continue

            # 3. Identifica Categorica vs texto libre
            n_unique = df[col].nunique(dropna=True)
            total = len(df[col])
            if n_unique / total < cat_threshold:
                print(f" Columna '{col}' detectada como CATEGORICA")
            else:
                print(f" Columna '{col}' detectada como TEXTO LIBRE / ALTA CARDINALIDAD")

    return

In [273]:
# Aplicar conversión automática solo a las features
analityc_convertion_columns(df)

print("\nSe analizaron posibles tipos......")

 Columna 'A1' detectada como NUMERICA
 Columna 'A2' detectada como NUMERICA
 Columna 'A3' detectada como NUMERICA
 Columna 'A4' detectada como NUMERICA
 Columna 'A5' detectada como NUMERICA
 Columna 'A6' detectada como NUMERICA
 Columna 'A7' detectada como NUMERICA
 Columna 'A8' detectada como NUMERICA
 Columna 'A9' detectada como NUMERICA
 Columna 'A10' detectada como NUMERICA
 Columna 'A11' detectada como NUMERICA
 Columna 'A12' detectada como NUMERICA
 Columna 'A13' detectada como NUMERICA
 Columna 'A14' detectada como NUMERICA
 Columna 'A15' detectada como NUMERICA
 Columna 'A16' detectada como NUMERICA
 Columna 'A17' detectada como NUMERICA
 Columna 'A18' detectada como NUMERICA
 Columna 'A19' detectada como NUMERICA
 Columna 'A20' detectada como NUMERICA
 Columna 'A21' detectada como NUMERICA
 Columna 'A22' detectada como NUMERICA
 Columna 'A23' detectada como NUMERICA
 Columna 'A24' detectada como NUMERICA
 Columna 'A25' detectada como NUMERICA
 Columna 'A26' detectada como NUMERICA
 Columna 'A27' detectada como NUMERICA
 Columna 'A28' detectada como NUMERICA
 Columna 'A29' detectada como NUMERICA
 Columna 'A30' detectada como NUMERICA
 Columna 'A31' detectada como NUMERICA
 Columna 'A32' detectada como NUMERICA
 Columna 'A33' detectada como NUMERICA
 Columna 'A34' detectada como NUMERICA
 Columna 'A35' detectada como NUMERICA
 Columna 'A36' detectada como NUMERICA
 Columna 'A37' detectada como NUMERICA
 Columna 'A38' detectada como NUMERICA
 Columna 'A39' detectada como NUMERICA
 Columna 'A40' detectada como NUMERICA
 Columna 'A41' detectada como NUMERICA
 Columna 'A42' detectada como NUMERICA
 Columna 'A43' detectada como NUMERICA
 Columna 'A44' detectada como NUMERICA
 Columna 'A45' detectada como NUMERICA
 Columna 'A46' detectada como NUMERICA
 Columna 'A47' detectada como NUMERICA
 Columna 'A48' detectada como NUMERICA
 Columna 'A49' detectada como NUMERICA
 Columna 'A50' detectada como NUMERICA
 Columna 'A51' detectada como NUMERICA
 Columna 'A52' detectada como NUMERICA
 Columna 'A53' detectada como NUMERICA
 Columna 'A54' detectada como NUMERICA
 Columna 'A55' detectada como NUMERICA
 Columna 'A56' detectada como NUMERICA
 Columna 'A57' detectada como NUMERICA
 Columna 'A58' detectada como NUMERICA
 Columna 'A59' detectada como NUMERICA
 Columna 'A60' detectada como NUMERICA
 Columna 'A61' detectada como NUMERICA
 Columna 'A62' detectada como NUMERICA
 Columna 'A63' detectada como NUMERICA
 Columna 'A64' detectada como NUMERICA
 Columna 'A65' detectada como NUMERICA
 Columna 'A66' detectada como NUMERICA
 Columna 'A67' detectada como NUMERICA
 Columna 'A68' detectada como NUMERICA
 Columna 'A69' detectada como NUMERICA
 Columna 'A70' detectada como NUMERICA
 Columna 'A71' detectada como NUMERICA
 Columna 'A72' detectada como NUMERICA
 Columna 'A73' detectada como NUMERICA
 Columna 'A74' detectada como NUMERICA
 Columna 'A75' detectada como NUMERICA
 Columna 'A76' detectada como NUMERICA
 Columna 'A77' detectada como NUMERICA
 Columna 'A78' detectada como NUMERICA
 Columna 'A79' detectada como NUMERICA
 Columna 'A80' detectada como NUMERICA
 Columna 'A81' detectada como NUMERICA
 Columna 'A82' detectada como NUMERICA
 Columna 'A83' detectada como NUMERICA
 Columna 'A84' detectada como NUMERICA
 Columna 'A85' detectada como NUMERICA

Se analizaron posibles tipos......

ANALIZAR LAS COLUMNAS DE ALTA CARDILADIDAD

In [274]:
print(f"Valores únicos: {df[col].nunique()}")
#df.groupby(col)[target].mean().sort_values(ascending=False).head(10)

Valores únicos: 2

In [275]:
def auto_convert_columns(df, target, fecha_threshold=0.5, cat_threshold=0.1):
    """
    Convierte automáticamente columnas de tipo object a numéricas, fechas o categóricas,
    EXCLUYENDO la variable objetivo (target).
    """
    for col in df.columns:
        if col == target:  # Excluir la variable objetivo
            continue

        if df[col].dtype == "object":
            # 1. Intentar convertir a numérico
            num_col = pd.to_numeric(df[col], errors="coerce")
            if num_col.notna().mean() > 0.9:  # si >90% son convertibles
                df[col] = num_col
                continue

            # 2. Intentar convertir a fecha
            fecha_col = pd.to_datetime(df[col], errors="coerce", infer_datetime_format=True)
            if fecha_col.notna().mean() > fecha_threshold:
                df[col] = fecha_col
                continue

            # 3. Detectar categóricas vs texto libre
            n_unique = df[col].nunique(dropna=True)
            total = len(df[col])
            if n_unique / total < cat_threshold:
                df[col] = df[col].astype("category")
            else:
                print(f" Columna '{col}' detectada como TEXTO LIBRE / ALTA CARDINALIDAD")

    return df

In [276]:
# Eliminar filas con target nulo
#df = df.dropna(subset=[target])

# Aplicar conversión automática solo a las features
df = auto_convert_columns(df, target=target)

print("\nTipos de datos después de conversión automática (sin tocar el target):")
print(df.dtypes)

print("\nTipos de datos después de conversión automática:")
print(df.dtypes)

/tmp/ipython-input-4163040079.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = num_col

Tipos de datos después de conversión automática (sin tocar el target):
A1     float64
A2     float64
A3     float64
A4     float64
A5     float64
        ...
A82    float64
A83    float64
A84    float64
A85    float64
A86      Int64
Length: 86, dtype: object

Tipos de datos después de conversión automática:
A1     float64
A2     float64
A3     float64
A4     float64
A5     float64
        ...
A82    float64
A83    float64
A84    float64
A85    float64
A86      Int64
Length: 86, dtype: object

In [277]:
print("Información general del dataset cambiando todas las columnas tipo OBJETC:")
print(df.info())

Información general del dataset cambiando todas las columnas tipo OBJETC:
<class 'pandas.core.frame.DataFrame'>
Index: 5806 entries, 0 to 5857
Data columns (total 86 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      5786 non-null   float64
 1   A2      5783 non-null   float64
 2   A3      5784 non-null   float64
 3   A4      5782 non-null   float64
 4   A5      5780 non-null   float64
 5   A6      5785 non-null   float64
 6   A7      5784 non-null   float64
 7   A8      5789 non-null   float64
 8   A9      5787 non-null   float64
 9   A10     5787 non-null   float64
 10  A11     5784 non-null   float64
 11  A12     5785 non-null   float64
 12  A13     5787 non-null   float64
 13  A14     5784 non-null   float64
 14  A15     5782 non-null   float64
 15  A16     5788 non-null   float64
 16  A17     5792 non-null   float64
 17  A18     5781 non-null   float64
 18  A19     5789 non-null   float64
 19  A20     5781 non-null   float64
 20  A21     5787 non-null   float64
 21  A22     5786 non-null   float64
 22  A23     5790 non-null   float64
 23  A24     5787 non-null   float64
 24  A25     5786 non-null   float64
 25  A26     5776 non-null   float64
 26  A27     5785 non-null   float64
 27  A28     5780 non-null   float64
 28  A29     5788 non-null   float64
 29  A30     5780 non-null   float64
 30  A31     5789 non-null   float64
 31  A32     5788 non-null   float64
 32  A33     5787 non-null   float64
 33  A34     5789 non-null   float64
 34  A35     5787 non-null   float64
 35  A36     5786 non-null   float64
 36  A37     5790 non-null   float64
 37  A38     5781 non-null   float64
 38  A39     5780 non-null   float64
 39  A40     5790 non-null   float64
 40  A41     5789 non-null   float64
 41  A42     5783 non-null   float64
 42  A43     5788 non-null   float64
 43  A44     5784 non-null   float64
 44  A45     5793 non-null   float64
 45  A46     5792 non-null   float64
 46  A47     5791 non-null   float64
 47  A48     5784 non-null   float64
 48  A49     5776 non-null   float64
 49  A50     5786 non-null   float64
 50  A51     5788 non-null   float64
 51  A52     5780 non-null   float64
 52  A53     5779 non-null   float64
 53  A54     5780 non-null   float64
 54  A55     5774 non-null   float64
 55  A56     5775 non-null   float64
 56  A57     5788 non-null   float64
 57  A58     5789 non-null   float64
 58  A59     5790 non-null   float64
 59  A60     5784 non-null   float64
 60  A61     5792 non-null   float64
 61  A62     5781 non-null   float64
 62  A63     5791 non-null   float64
 63  A64     5784 non-null   float64
 64  A65     5790 non-null   float64
 65  A66     5779 non-null   float64
 66  A67     5795 non-null   float64
 67  A68     5779 non-null   float64
 68  A69     5784 non-null   float64
 69  A70     5790 non-null   float64
 70  A71     5781 non-null   float64
 71  A72     5787 non-null   float64
 72  A73     5791 non-null   float64
 73  A74     5766 non-null   float64
 74  A75     5782 non-null   float64
 75  A76     5788 non-null   float64
 76  A77     5790 non-null   float64
 77  A78     5780 non-null   float64
 78  A79     5794 non-null   float64
 79  A80     5785 non-null   float64
 80  A81     5781 non-null   float64
 81  A82     5785 non-null   float64
 82  A83     5780 non-null   float64
 83  A84     5794 non-null   float64
 84  A85     5785 non-null   float64
 85  A86     5806 non-null   Int64
dtypes: Int64(1), float64(85)
memory usage: 3.9 MB
None

1.4 Distribucion de variablers numéricas

In [ ]:
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
#df[num_cols].hist(bins=20, figsize=(18, 15))
#plt.suptitle("Distribución de variables numéricas", fontsize=16)
#plt.show()

cols = 5
rows = math.ceil(len(num_cols) / cols)

fig, axes = plt.subplots(rows, cols, figsize=(20, rows * 3))  # ancho fijo, alto proporcional
axes = axes.flatten()

for i, col in enumerate(num_cols):
    axes[i].hist(df[col], bins=20, color="steelblue", edgecolor="black")
    axes[i].set_title(col, fontsize=8)   # títulos pequeños
    axes[i].tick_params(axis="x", labelsize=6)  # ejes pequeños
    axes[i].tick_params(axis="y", labelsize=6)

# Eliminar subplots vacíos si sobran
for j in range(i+1, len(axes)):
    fig.delaxes(axes[j])

fig.suptitle("Distribución de variables numéricas", fontsize=14)
plt.tight_layout()
plt.show()

1.4.1 Detección de outliners en variables numéricas

In [ ]:
for col in num_cols:#[:6]:
    sns.boxplot(x=df[col])
    plt.title(f"Boxplot de {col}")
    plt.show()

1.5 Correlación entre variables numéricas

In [ ]:
# Al contar con un número grande de features, se meustra el heatmap consolidado, pero se mostrará segmentado para propiciar el análisis
corr = df[num_cols].corr()
plt.figure(figsize=(12, 8))
sns.heatmap(corr, cmap="coolwarm", center=0)
plt.title("Matriz de correlación")
plt.show()

In [ ]:
# Filtrar correlaciones fuertes (|r| > 0.7 y != 1.0)

#strong_corr = corr[(corr.abs() > 0.7) & (corr != 1.0)]
#strong_corr.dropna(how="all", axis=0).dropna(how="all", axis=1)

strong_corr = corr[(corr.abs() > 0.7) & (corr != 1.0)]
strong_corr = strong_corr.dropna(how="all", axis=0).dropna(how="all", axis=1)

# Crear lista de correlaciones por feature
correlation_list = []

for col in strong_corr.columns:
    correlated_features = strong_corr[col].dropna()
    for feat, value in correlated_features.items():
        correlation_list.append({
            "Feature": col,
            "Correlated_Feature": feat,
            "Correlation": value
        })

# Convertir a DataFrame
correlation_df = pd.DataFrame(correlation_list)

# Ordenar por nombre de columna (Feature) alfabéticamente
#correlation_df = correlation_df.sort_values(by="Feature").reset_index(drop=True)
correlation_df.reset_index(drop=True, inplace=True)

#correlation_df.head(3)
correlation_df

In [ ]:
# Configuración
chunk_size = 15   # Número de features por bloque
threshold = 0.7   # Mostrar solo correlaciones |r| >= threshold
font_size = 6     # Tamaño de letra

# Calcular correlación
corr = df[num_cols].corr()

# Filtrar correlaciones débiles
def filter_corr(matrix, thresh):
    filtered = matrix.copy()
    filtered[(filtered < thresh) & (filtered > -thresh)] = 0
    return filtered

filtered_corr = filter_corr(corr, threshold)

# Generar heatmaps por bloques
num_features = len(num_cols)
for i in range(0, num_features, chunk_size):
    for j in range(0, num_features, chunk_size):
        corr_chunk = filtered_corr.iloc[i:i+chunk_size, j:j+chunk_size]
        plt.figure(figsize=(12, 8))
        sns.heatmap(
            corr_chunk, annot=True, fmt=".2f", cmap="coolwarm", center=0,
            cbar=True, square=True, linewidths=0.5,
            annot_kws={"size": font_size}  # tamaño de letra de los valores
        )
        plt.xticks(fontsize=font_size, rotation=90)
        plt.yticks(fontsize=font_size, rotation=0)
        plt.title(f"Correlaciones (features {i} a {min(i+chunk_size, num_features)} vs {j} a {min(j+chunk_size, num_features)})", fontsize=8)
        plt.show()

**2. Separar features y target**

In [ ]:
X = df.drop("A86", axis=1)
y = df["A86"]

# Explicación:
# Separamos las variables predictoras (X) de la variable objetivo (y) para entrenar modelos supervisados.
# CARAVAN es altamente desbalanceada (~6% positivos), por lo que debemos tener cuidado en la validación y métricas.
print("Distribución de CARAVAN:")
print(y.value_counts(normalize=True))

#ME PARECE QEU DEBEMOS ELIMINAR LA PRIMERA FILA

sns.countplot(x=y)
plt.title("Distribución de la variable objetivo CARAVAN")
plt.show()

2.1 Correlacion entre caraterísticas y variable objetivo

In [ ]:
#for col in num_cols:
    #sns.scatterplot(x=col, y="A86", data=df)
    #plt.title(f"Relación entre {col} y CARAVAN")
    #plt.show()
    #sns.histplot(data=df, x=col, hue=y, bins=20, kde=True, element="step")
    #plt.title(f"Distribución de {col} según CARAVAN")
    #plt.show()

# Configuración de la cuadrícula
cols = 5  # número de columnas por fila
rows = math.ceil(len(num_cols) / cols)  # calcular número de filas necesarias
fig, axes = plt.subplots(rows, cols, figsize=(20, rows*3))  # tamaño total de la figura
axes = axes.flatten()  # aplanar el array de axes para iterar fácilmente

# Tamaño de letra pequeño
title_size = 8
label_size = 6

# Graficar cada feature
for i, col in enumerate(num_cols):
    sns.histplot(
        data=df, x=col, hue=y, bins=20, kde=True, element="step",
        ax=axes[i]
    )
    axes[i].set_title(f"{col}", fontsize=title_size)
    axes[i].tick_params(axis='x', labelsize=label_size)
    axes[i].tick_params(axis='y', labelsize=label_size)

# Eliminar subplots vacíos (si los hay)
for j in range(i+1, len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

**3. Identificación de variables categóricas**

In [ ]:
# Muchas variables son categorías codificadas numéricamente (ej. MOSTYPE, APERSAUT).
# Aplicar OneHotEncoder ayuda a que modelos lineales o basados en distancias puedan interpretarlas correctamente.
categorical_features = [f"A{i}" for i in range(1, 44)]  # sociodemográficas
categorical_features += [f"A{i}" for i in range(44, 86)]  # productos de seguros

# Ejemplo de algunas variables relevantes
print("Ejemplo de columnas sociodemográficas y de productos:")
print(df[["A1", "A2", "A43", "A44", "A85"]].head())

# Explicación:
# Convertimos estas variables en binarias (dummy) para que la regresión logística pueda capturar relaciones entre cada categoría y la probabilidad de CARAVAN=1.

**4. División en train y validation**

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Explicación:
# Separamos 20% de los datos para validación.
# stratify=y asegura que la proporción de positivos/negativos se mantenga en ambos conjuntos.
print("Proporción en entrenamiento:", y_train.value_counts(normalize=True))
print("Proporción en validación:", y_val.value_counts(normalize=True))
#print("Proporción en entrenamiento:", y_train.value_counts(normalize=True).to_dict())
#print("Proporción en validación:", y_val.value_counts(normalize=True).to_dict())

**5. Pipeline de preprocesamiento y modelado**

In [ ]:
# Preprocesamiento:
# - OneHotEncoder para variables categóricas.
# - StandardScaler opcional para modelos sensibles a escala (LogisticRegression).
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
    ]
)

# Creamos pipeline con LogisticRegression
# class_weight="balanced" ayuda a que la clase minoritaria tenga más peso en el entrenamiento.
pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("classifier", LogisticRegression(max_iter=1000, class_weight="balanced", random_state=42))
])

# Explicación:
# La pipeline asegura que los mismos pasos de transformación se aplican a train y validation, manteniendo reproducibilidad y evitando fugas de datos.
# El preprocesamiento mejora la capacidad del modelo de capturar la relación de cada categoría con la variable objetivo.


**6. Entrenar LogisticRegression**

In [ ]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_val)
y_proba = pipeline.predict_proba(X_val)[:,1]

print("Classification Report - Logistic Regression Mejorado:")
print(classification_report(y_val, y_pred))

roc_auc = roc_auc_score(y_val, y_proba)
print("ROC-AUC:", roc_auc)

# Matriz de confusión
cm = confusion_matrix(y_val, y_pred)
sns.heatmap(cm, annot=True, fmt="d", cmap="Blues", xticklabels=["No", "Sí"], yticklabels=["No", "Sí"])
plt.xlabel("Predicho")
plt.ylabel("Real")
plt.title("Matriz de confusión - Logistic Regression")
plt.show()

**7. Evaluación de métricas**

In [ ]:
# Gráfico Precision-Recall para evaluar desempeño en clase minoritaria
from sklearn.metrics import precision_recall_curve

precision, recall, thresholds = precision_recall_curve(y_val, y_proba)
plt.plot(recall, precision, marker=".")
plt.xlabel("Recall")
plt.ylabel("Precision")
plt.title("Curva Precision-Recall - Logistic Regression")
plt.show()

# Explicación:
# La curva Precision-Recall ayuda a entender el trade-off entre recuperar más positivos (recall)
# y cometer menos falsos positivos (precision).
# Muy relevante en este dataset porque la clase positiva es muy pequeña.

8. Baseline DummyClassifier

In [ ]:
dummy = DummyClassifier(strategy="most_frequent")
dummy.fit(X_train, y_train)
y_dummy_pred = dummy.predict(X_val)

print("Classification Report - DummyClassifier:")
print(classification_report(y_val, y_dummy_pred))

# Explicación:
# DummyClassifier sirve como benchmark para medir si el modelo entrenado realmente aporta valor sobre la estrategia trivial de predecir siempre la clase mayoritaria.

 **9. Exploración adicional de atributos**

In [ ]:
# Ejemplo: distribución del subtipo de cliente (A1 = MOSTYPE)
sns.countplot(x=X["A1"], order=X["A1"].value_counts().index)
plt.title("Distribución del subtipo de cliente (MOSTYPE)")
plt.xticks(rotation=90)
plt.show()

# Relación de ingresos (ej. A2 = rango de ingresos) con la variable CARAVAN
income_caravan = df.groupby("A2")["A86"].mean()
income_caravan.plot(kind="bar")
plt.title("Probabilidad de tener CARAVAN por rango de ingresos (A2)")
plt.ylabel("Proporción CARAVAN=1")
plt.show()

# Ejemplo: número de pólizas de auto (A44 = APERSAUT)
sns.boxplot(x=y, y=X["A44"])
plt.title("Distribución de pólizas de auto según CARAVAN")
plt.show()

# Explicación:
# Estas visualizaciones permiten al área de negocio entender qué segmentos de clientes
# (subtipos, ingresos, otros productos contratados) tienen mayor propensión a adquirir
# la póliza de casa rodante. Sirve para planear campañas de marketing dirigidas.