# Insurance Company — Caravan Prediction (Refactor)

**EQUIPO 10**

**ALUMNOS:**

Gabriela Lizeth Moreno Hernández - A01796677

Alejandro Chávez Campos  -  A01374974

Carlos Armando Alcántar Sánchez - A01311747

Luis Fernando Caporal Montes de Oca  -  A01795898

Yamil Abraham Nechar Reyes - A01795726

In [1]:
# Imports principales
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import RidgeClassifier, LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, classification_report, confusion_matrix

import joblib
import warnings
warnings.filterwarnings('ignore')

print('Libraries loaded')

Libraries loaded

In [2]:
# Cargar datos
data_path = Path('insurance_company_modified.csv')
if not data_path.exists():
    raise FileNotFoundError(f"Archivo no encontrado en {data_path}. Coloca el CSV en la misma carpeta o actualiza la ruta.")

df = pd.read_csv(data_path)
print('Shape:', df.shape)
df.head()

Shape: (5937, 87)

,33,1,3,2,8,0,5,1.1,3.1,7,...,0.38,0.39,1.13,0.40,0.41,0.42,0.43,0.44,0.45,mixed_type_col
0,37.0,1.0,2.0,2.0,8.0,1.0,4.0,?,4.0,6.0,...,0.0,0.0,1.0,invalid,0.0,0.0,0.0,0.0,0.0,108
1,37.0,1.0,2.0,2.0,8.0,0.0,4.0,2.0,4.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,unknown
2,9.0,1.0,3.0,3.0,3.0,2.0,3.0,2.0,4.0,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,904
3,40.0,1.0,4.0,2.0,10.0,1.0,4.0,1.0,4.0,7.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,bad
4,23.0,1.0,2.0,1.0,5.0,0.0,5.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,271

In [3]:
# Visión rápida de los datos
def quick_overview(df, n=5):
    print('Columnas:', df.shape[1])
    display(df.head(n))
    display(df.info())
    display(df.describe(include='all').T)

quick_overview(df)

Columnas: 87

,33,1,3,2,8,0,5,1.1,3.1,7,...,0.38,0.39,1.13,0.40,0.41,0.42,0.43,0.44,0.45,mixed_type_col
0,37.0,1.0,2.0,2.0,8.0,1.0,4.0,?,4.0,6.0,...,0.0,0.0,1.0,invalid,0.0,0.0,0.0,0.0,0.0,108
1,37.0,1.0,2.0,2.0,8.0,0.0,4.0,2.0,4.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,unknown
2,9.0,1.0,3.0,3.0,3.0,2.0,3.0,2.0,4.0,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,904
3,40.0,1.0,4.0,2.0,10.0,1.0,4.0,1.0,4.0,7.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,bad
4,23.0,1.0,2.0,1.0,5.0,0.0,5.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,271

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5937 entries, 0 to 5936
Data columns (total 87 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   33              5869 non-null   object
 1   1               5864 non-null   object
 2   3               5873 non-null   object
 3   2               5868 non-null   object
 4   8               5877 non-null   object
 5   0               5863 non-null   object
 6   5               5858 non-null   object
 7   1.1             5874 non-null   object
 8   3.1             5875 non-null   object
 9   7               5876 non-null   object
 10  0.1             5871 non-null   object
 11  2.1             5871 non-null   object
 12  1.2             5871 non-null   object
 13  2.2             5852 non-null   object
 14  6               5877 non-null   object
 15  1.3             5866 non-null   object
 16  2.3             5874 non-null   object
 17  7.1             5874 non-null   object
 18  1.4             5855 non-null   object
 19  0.2             5870 non-null   object
 20  1.5             5859 non-null   object
 21  2.4             5852 non-null   object
 22  5.1             5885 non-null   object
 23  2.5             5864 non-null   object
 24  1.6             5860 non-null   object
 25  1.7             5863 non-null   object
 26  2.6             5877 non-null   object
 27  6.1             5858 non-null   object
 28  1.8             5864 non-null   object
 29  1.9             5868 non-null   object
 30  8.1             5879 non-null   object
 31  8.2             5888 non-null   object
 32  0.3             5892 non-null   object
 33  1.10            5874 non-null   object
 34  8.3             5872 non-null   object
 35  1.11            5864 non-null   object
 36  0.4             5875 non-null   object
 37  4               5859 non-null   object
 38  5.2             5864 non-null   object
 39  0.5             5879 non-null   object
 40  0.6             5852 non-null   object
 41  4.1             5874 non-null   object
 42  3.2             5879 non-null   object
 43  0.7             5856 non-null   object
 44  0.8             5864 non-null   object
 45  0.9             5867 non-null   object
 46  6.2             5872 non-null   object
 47  0.10            5864 non-null   object
 48  0.11            5867 non-null   object
 49  0.12            5878 non-null   object
 50  0.13            5868 non-null   object
 51  0.14            5870 non-null   object
 52  0.15            5867 non-null   object
 53  0.16            5876 non-null   object
 54  0.17            5891 non-null   object
 55  0.18            5863 non-null   object
 56  0.19            5852 non-null   object
 57  0.20            5876 non-null   object
 58  5.3             5841 non-null   object
 59  0.21            5878 non-null   object
 60  0.22            5872 non-null   object
 61  0.23            5861 non-null   object
 62  0.24            5869 non-null   object
 63  0.25            5886 non-null   object
 64  0.26            5859 non-null   object
 65  0.27            5871 non-null   object
 66  0.28            5870 non-null   object
 67  1.12            5878 non-null   object
 68  0.29            5873 non-null   object
 69  0.30            5866 non-null   object
 70  0.31            5874 non-null   object
 71  0.32            5876 non-null   object
 72  0.33            5875 non-null   object
 73  0.34            5866 non-null   object
 74  0.35            5867 non-null   object
 75  0.36            5855 non-null   object
 76  0.37            5884 non-null   object
 77  0.38            5880 non-null   object
 78  0.39            5870 non-null   object
 79  1.13            5871 non-null   object
 80  0.40            5866 non-null   object
 81  0.41            5890 non-null   object
 82  0.42            5889 non-null   object
 83  0.43            5876 non-null   object
 84  0.44            5875 non-null   object
 85  0.45            5858 non-null   object
 86  mixed_type_col  5344 non-null   object
dtypes: object(87)
memory usage: 3.9+ MB

None

               count unique   top  freq
33              5869    154  33.0   768
1               5864     81   1.0  4953
3               5873     75   3.0  2513
2               5868     85   3.0  2806
8               5877     79   8.0  1478
...              ...    ...   ...   ...
0.42            5889     42   0.0  5415
0.43            5876     40   0.0  5523
0.44            5875     39   0.0  5444
0.45            5858     31   0.0  5173
mixed_type_col  5344    986   bad   586

[87 rows x 4 columns]

In [7]:
#Identificar valores nulos
def identificar_valores_nulos(df):
    print("Valores nulos por columna:")
    print(df.isna().sum())
    print("\n")
    total_filas = len(df)
    for col, nulos in df.isna().sum().items():
        if nulos > 0:
            porcentaje = (nulos / total_filas) * 100
            print(f"Columna '{col}': {nulos} nulos ({porcentaje:.2f}%)")
identificar_valores_nulos(df)

Valores nulos por columna:
33                 68
1                  73
3                  64
2                  69
8                  60
                 ...
0.42               48
0.43               61
0.44               62
0.45               79
mixed_type_col    593
Length: 87, dtype: int64


Columna '33': 68 nulos (1.15%)
Columna '1': 73 nulos (1.23%)
Columna '3': 64 nulos (1.08%)
Columna '2': 69 nulos (1.16%)
Columna '8': 60 nulos (1.01%)
Columna '0': 74 nulos (1.25%)
Columna '5': 79 nulos (1.33%)
Columna '1.1': 63 nulos (1.06%)
Columna '3.1': 62 nulos (1.04%)
Columna '7': 61 nulos (1.03%)
Columna '0.1': 66 nulos (1.11%)
Columna '2.1': 66 nulos (1.11%)
Columna '1.2': 66 nulos (1.11%)
Columna '2.2': 85 nulos (1.43%)
Columna '6': 60 nulos (1.01%)
Columna '1.3': 71 nulos (1.20%)
Columna '2.3': 63 nulos (1.06%)
Columna '7.1': 63 nulos (1.06%)
Columna '1.4': 82 nulos (1.38%)
Columna '0.2': 67 nulos (1.13%)
Columna '1.5': 78 nulos (1.31%)
Columna '2.4': 85 nulos (1.43%)
Columna '5.1': 52 nulos (0.88%)
Columna '2.5': 73 nulos (1.23%)
Columna '1.6': 77 nulos (1.30%)
Columna '1.7': 74 nulos (1.25%)
Columna '2.6': 60 nulos (1.01%)
Columna '6.1': 79 nulos (1.33%)
Columna '1.8': 73 nulos (1.23%)
Columna '1.9': 69 nulos (1.16%)
Columna '8.1': 58 nulos (0.98%)
Columna '8.2': 49 nulos (0.83%)
Columna '0.3': 45 nulos (0.76%)
Columna '1.10': 63 nulos (1.06%)
Columna '8.3': 65 nulos (1.09%)
Columna '1.11': 73 nulos (1.23%)
Columna '0.4': 62 nulos (1.04%)
Columna '4': 78 nulos (1.31%)
Columna '5.2': 73 nulos (1.23%)
Columna '0.5': 58 nulos (0.98%)
Columna '0.6': 85 nulos (1.43%)
Columna '4.1': 63 nulos (1.06%)
Columna '3.2': 58 nulos (0.98%)
Columna '0.7': 81 nulos (1.36%)
Columna '0.8': 73 nulos (1.23%)
Columna '0.9': 70 nulos (1.18%)
Columna '6.2': 65 nulos (1.09%)
Columna '0.10': 73 nulos (1.23%)
Columna '0.11': 70 nulos (1.18%)
Columna '0.12': 59 nulos (0.99%)
Columna '0.13': 69 nulos (1.16%)
Columna '0.14': 67 nulos (1.13%)
Columna '0.15': 70 nulos (1.18%)
Columna '0.16': 61 nulos (1.03%)
Columna '0.17': 46 nulos (0.77%)
Columna '0.18': 74 nulos (1.25%)
Columna '0.19': 85 nulos (1.43%)
Columna '0.20': 61 nulos (1.03%)
Columna '5.3': 96 nulos (1.62%)
Columna '0.21': 59 nulos (0.99%)
Columna '0.22': 65 nulos (1.09%)
Columna '0.23': 76 nulos (1.28%)
Columna '0.24': 68 nulos (1.15%)
Columna '0.25': 51 nulos (0.86%)
Columna '0.26': 78 nulos (1.31%)
Columna '0.27': 66 nulos (1.11%)
Columna '0.28': 67 nulos (1.13%)
Columna '1.12': 59 nulos (0.99%)
Columna '0.29': 64 nulos (1.08%)
Columna '0.30': 71 nulos (1.20%)
Columna '0.31': 63 nulos (1.06%)
Columna '0.32': 61 nulos (1.03%)
Columna '0.33': 62 nulos (1.04%)
Columna '0.34': 71 nulos (1.20%)
Columna '0.35': 70 nulos (1.18%)
Columna '0.36': 82 nulos (1.38%)
Columna '0.37': 53 nulos (0.89%)
Columna '0.38': 57 nulos (0.96%)
Columna '0.39': 67 nulos (1.13%)
Columna '1.13': 66 nulos (1.11%)
Columna '0.40': 71 nulos (1.20%)
Columna '0.41': 47 nulos (0.79%)
Columna '0.42': 48 nulos (0.81%)
Columna '0.43': 61 nulos (1.03%)
Columna '0.44': 62 nulos (1.04%)
Columna '0.45': 79 nulos (1.33%)
Columna 'mixed_type_col': 593 nulos (9.99%)

In [8]:
#Limpieza de los datos
def quitar_nulos(df):
    df = df.dropna()

quitar_nulos(df)